

div.demo-wrapper p.demo-header {
  font-style: italic;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div.demo-wrapper p.demo-header:before {
  font-style: normal;
  content: "\25BE\20";
}

div.demo-wrapper p.demo-header.demo-hide:before {
  content: "\25B8\20";
}

div.demo-wrapper p.demo-header.demo-hide+.demo-area,
div.demo-wrapper p.demo-header.demo-hide+.demo-source {
  display: none;
}


